.ant-menu-item-icon svg {
  border-radius: 8px;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  fill: #fff;
  background-color: #4fd1c5;
}

.ant-menu .ant-menu-item-group-title {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  color: #253342;
  text-transform: uppercase;
  white-space: nowrap;
}

.ant-menu {
  padding: 10px;
  font-size: 14px;
}

.ant-menu .ant-menu-item {
  font-weight: 500;
  transition: border-color 0.3s, background 0.3s,
    padding-right 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

.ant-menu-inline-collapsed>.ant-menu-item {
  padding-inline: 13px;
  padding-block: 7px;
}