.ant-card-body{
  height: 100%;
}

.analytic-text{
 font-weight: bold;
 
}

.analytic-flex-wrapper{
  height: 100%;
}

.analytic-flex-icon-wrapper{
  background-color: #4FD1C5;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 100%;
  flex: 0.17;
}

.analytic-flex-icon-wrapper svg{
  width: 50%;
  height: 50%;
  stroke: #FFF;
}

.analytic-flex-icon-wrapper svg rect{
  fill: #FFF;
}

.analytic-flex-icon-wrapper svg path:last-child{
  fill: #4FD1C5;
}