.analytic-text {
  font-weight: bold;
}

.analytic-flex-wrapper {
  height: 100%;
}

.analytic-flex-icon-wrapper {
  background-color: #4fd1c5;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 100%;
  flex: 0.17;
}

.analytic-flex-icon-wrapper svg {
  width: 50%;
  height: 50%;
  stroke: #fff;
}

.analytic-flex-icon-wrapper svg rect {
  fill: #fff;
}

.analytic-flex-icon-wrapper svg path:last-child {
  fill: #4fd1c5;
}
