.logo-holder{
  text-align:center;
}
.logo-9{
  position:relative;
}
.logo-9 i{
  font-size:80px;
  position:absolute;
  z-index:0;
  text-align:center;
  width:100%;
  left:0;
  top:-10px;
  color:#34495e;
  -webkit-animation:ring 2s ease infinite;
  animation:ring 2s ease infinite;
}
.logo-9 h3{
  font-family: 'Lora', serif;
  font-weight:600;
  text-transform:uppercase;
  font-size:40px;
  position:relative;
  z-index:1;
  color:#e74c3c;
}

.layout-content{
 padding: 0 1vw;
}

.ant-layout-header{
  background: none;
}